.footer-container {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(139, 139, 139, 0.329);
    color: rgb(172, 172, 172);
    font-size: 13px;
    margin-top: 50px;
    word-spacing: 4px;
}

.footer-icon {
    color: rgb(247, 81, 81);
}

.name {
    font-family: "East Sea Dokdo";
    font-size: 25px;
}