.projects-container {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 90px;
  position: relative;
  text-align: center;
}

.project-icon {
  color: rgb(114, 114, 114);
    font-size: 300px;
  z-index: -20;
  opacity: 0.1;
  position: absolute;
  left: -150px;
  top: 0;
}

.projects-container h4 {
    margin-bottom: 50px;
    text-align: left;
    opacity: 0.3;
    font-size: 20px;
    font-weight: lighter;
}

.projects-container h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.projects-about {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
  color: #f5f5f5;
  line-height: 1.8;
  margin: 30px 10px 50px;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 50px;
}

.project-card {
  border: 2px solid rgb(46, 46, 46);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.project-card strong {
  font-size: 20px;
  font-family: "Montserrat";
  margin-top: 20px;
}

.project-card p {
  margin: 20px 20px;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
}

.project-anchors {
  margin: 40px;
}

.project-anchors a {
  margin: 0 20px;
  text-decoration: none;
  border: 2px solid #3c7cbd;
  background-color: #3c7cbd;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px 20px 8px;
  transition: all 0.3s;
}

.project-anchors a:hover {
  background-color: transparent;
  color: white;
}