.projects-container {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 90px;
  position: relative;
}

.project-icon {
  color: #335e3a;
  font-size: 200px;
  z-index: -20;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
}

.projects-container h4 {
    margin-bottom: 50px;
    text-align: left;
    opacity: 0.5;
    font-size: 16px;
    font-weight: lighter;
}

.projects-container h2 {
    font-size: 40px;
}

.projects-about {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  color: #ccc;
  line-height: 1.8;
  margin: 30px 10px 50px;
}

.project-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chip {
  background-color: #30363d;
  margin: 5px;
  padding: 4px 7px;
  border-radius: 7px;
  font-size: 13px;
}
