@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --anchor-primary-color: #b3b3b3;;
  --anchor-hover-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  background: #121212;
  color: #E5E5E5;
  font-weight: lighter;
  overflow-x: hidden;
}

.App {
  margin-top: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}

.header {
  margin-bottom: 90px;
  padding-top: 100px;
}

.header h2, .header p {
  color: #ADADAD;
}
.header h2 {
  margin-bottom: 20px;
  font-size: 25px;
  
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
}

.header p {
  margin: 30px 40px 50px;
  font-size: 17px;
  line-height: 35px;
}

.header a {
  border: 1px solid #8f8f8f79;
  border-radius: 10px;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 16px;
  color: #E5E5E5;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}

.header a:hover {
  background-color: #1e1e1e;
  color: #E5E5E5;
  padding-left: 55px;
  padding-right: 55px;
}

.header a:active {
  transform: translateY(5px);
}

@media screen and (min-width: 620px) {
  .header h1 {
    font-size: 70px;
  }

  .header p {
    margin: 30px 20% 70px;
  }
}

@media screen and (min-width: 920px) {

  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .header {
    padding-top: 50px;
  
  }

  .header h1 {
    font-size: 85px;
  }

  .header p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    margin-left: 10%;
    margin-right: 10%;
  }

  .header h1 {
    font-size: 95px;
  }

  .header p {
    font-size: 23px;
    
  }
}